*, html
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    margin: 0
    padding: 0

.home
    height: 100vh
    width: 100%
    
nav.navbar
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 80px
    background: red
    // background-position: center