*, html
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    margin: 0
    padding: 0
    overflow-x: hidden

.home, .destination, .crew
    height: 100vh
    width: 100%
    
nav.navbar
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 150px
    display: flex
    align-items: center
    justify-content: center

    &::before
        position: absolute
        content: ""
        width: 50vw
        height: 80px
        top: 50%
        right: 0
        transform: translateY(-50%)
        background: rgba($cWhite, .05)
        backdrop-filter: blur(15px)


.navbar-container
    position: relative
    width: 80%
    max-width: 1300px
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 50

    .nav-logo
        margin-left: -55px

    .nav-links
        display: flex
        margin: 0

        li 
            color: $cWhite
            margin-left: 2.5rem
            font-family: $barlowCondensed
            font-size: 1.2rem

            span 
                margin-right: 8px
                font-weight: 700
       
.container
    position: relative
    width: 80%
    max-width: 1300px
    margin: auto

.home-body 
    display: flex
    // eslint-disable-next-line
    align-items: flex-end
    height: 100vh
    justify-content: space-between
    padding-bottom: 10rem

    h3 
        color: $cWhite
        font-family: $barlowCondensed
        font-size: 30px
        font-weight: 300
        margin-bottom: .8rem

    h1 
        color: $cWhite
        font-size: 150px
        font-family: $bellefair
        font-weight: 200
        margin-bottom: 1rem

    p 
        color: $cWhite
        font-family: $barlow
        font-size: 18px
        font-weight: 200
        line-height: 30px

    .main-btn 
        display: block
        position: relative
        height: 274px
        width: 274px
        background: $cWhite
        border-radius: 50%

        span
            color: $cBlack
            font-family: $bellefair
            font-size: 32px
            position: absolute
            display: block
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

        &:hover
            transition: 0.5s ease
            outline: 3rem solid rgba($cWhite, 0.1)


.active-tab
    color: $cWhite
    border-bottom: 2px solid $cWhite

.block-tabs
    display: flex

    .tabs 
        margin: 0 30px 30px 0
        cursor: pointer
        color: $cWhite

        p 
            padding-bottom: 15px

.content
    display: none

    .content-title
        font-size: 100px
        font-family: $bellefair
        font-weight: 200

    p 
        font-size: 18px
        font-family: $barlow
        line-height: 1.8rem
        font-weight: 100
        margin-bottom: 3rem

    .planet-data
        display: flex
        border-top: 1px solid rgba($cWhite, .2)
        padding: 20px 0 0 0

        div 
            p 
                font-size: 14px 
                margin-bottom: 5px
                font-weight: 100
            
            h4 
                font-size: 28px
                font-weight: 200
                font-family: $bellefair

        div:nth-child(1)
            margin-right: 50px

.active-content
    display: block
    color: $cWhite


.destination
    .destination-body 
        display: grid
        grid-template-columns: 1fr 1fr
        align-items: center
        height: 100vh


.crew-body 

    display: grid 
    height: 100vh
    align-items: center

    .carousel-dots
        .active-dot
            color: $cWhite !important
            font-weight: 500
            font-size: 20px

        .dot
            color: red
            cursor: pointer

    .carousel-contents
        .carousel-content
            display: none

        .carousel-content-active 
            display: block



.technology-body 
    display: grid
    grid-template-columns: 3fr 1fr
    align-items: center
    height: 100vh

    .technology-details
        display: flex

        .circle-tabs
            margin-right: 2.5rem

            .circle
                height: 3rem
                width: 3rem
                background: rgba($cWhite, 0)
                position: relative
                border-radius: 100%
                border: 1px solid rgba($cWhite, .3)
                cursor: pointer
                transition: all 0.3s ease
                margin-bottom: 20px

                p 
                    color: $cWhite
                    font-size: 2rem
                    font-family: $bellefair
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)

                &:hover
                    background: $cWhite

                    p 
                        color: $cBlack
                    
            .active-circle
                background: $cWhite
                p 
                    color: $cBlack

    .content-circle-tabs
        .circle-content
            display: none

        .active-circle-content
            display: block

    .circle-content-container
        .circle-content
            display: none

            span 
                font-family: $barlowCondensed
                color: $cWhite
                font-size: 1rem
                letter-spacing: 2.7px
                font-weight: 200

            h3 
                font-size: 3.2rem
                color: $cWhite
                font-weight: 200
                font-family: $bellefair
                margin-bottom: 1.2rem

            p 
                color: $cWhite
                font-family: $barlow
                font-weight: 200
                line-height: 1.7rem
                font-size: 1.1rem    

        .active-circle-content
            display: block    